.venv/
__pycache__/
*.pyc
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/processed/ieee-fraud-detection/*
!data/processed/ieee-fraud-detection/.gitkeep
mlruns/
mlflow_db/
artifacts/*
!artifacts/.gitkeep
reports/*
!reports/.gitkeep
.env
.DS_Store
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/
.pytest_cache/
